/* For testing */
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px solid #000;
}
.columns {
  min-height: 100px;
}
/* End for Testing */

#site-header {
  background-image: url(candles-and-towel.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  text-align: center;
  font-size: 30px;
}
.wrapper {
  margin-bottom: 20px;
}
body {
    font-family: "helvetica neue";
    color: #666;
    padding: 0 20%;
}
h1 {
  color: #418877;
  text-align: center;
  border: 1px solid black;
  background-color: #F2DAC6;
  width: 400px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 30px;
}
li input {
  display: none;
}
li.edit span {
  display: none;
}
li.edit input {
  display: initial;
}
footer {
  margin-left: 20px;
}
p.links {
  margin-left: 20px;
  text-decoration: underline;
}
