.racer_table td {
  background-color: yellow;
  height: 50px;
  width: 50px;
  margin: 40px;
}

.racer_table td.active {
  background-color: green;
}

.racer_table  {
  margin: 40px;
}

td {
  border: 10px solid #96ccb5;
  margin: 50px;
}
#player1_strip {
 
}

#player2_strip {

}