* {
  margin: 30px;
}
.racer_table td {
  background-color: yellow;
  height: 30px;
  width: 30px;
}

.racer_table td.active {
  background-color: green;
}

.racer_table  {
  margin: 40px;
}

td {
  /*border: 5px solid #96ccb5;*/
  
}
#player1_strip {
 
}

#player2_strip {

}