body {
  margin: 45px;
  background-color: #CDFFE9;
  text-align: center;
}
h1 {
  font-family: 'Droid Serif', serif;
  font-size: 5em;
}

.quotes {
  font-family: 'Libre Baskerville', serif;
  padding: 35px;
  font-size: 35px;
}