body {
  margin: 2% 10% 10% 10%;
}
header {
  background-image: url(../images/candles-and-towel.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 10px solid #a08841;
  text-align: center;
  font-size: 40px;
  padding: 100px;
  font-family: 'IM Fell Great Primer', serif;
}
h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'IM Fell Great Primer', serif;
  margin-top: 20px;
}
/*nav {
  font-size: 5px;
}*/
div {
  -webkit-column-rule-color: #ff0000; /* Chrome, Safari, Opera */
  -moz-column-rule-color: #ff0000; /* Firefox */
  column-rule-color: #ff0000;
  /*border: 10px solid #a08841;*/
}
p {
  font-size: 15px;
}
.btn {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 12px 30px;
}
/*links*/
a {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background: #a08841;
  font-size: 14px;
  color: #ededed;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
}

a:hover {
  color: red;
}
a:visited {
  color: green;
}
#copy {
  text-align: right;
}
