header {
  background-image: url(../images/candles-and-towel.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 10px solid #a08841;
  text-align: center;
  font-size: 40px;
  padding: 100px;
  font-family: 'IM Fell Great Primer', serif;
}
h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'IM Fell Great Primer', serif;
  margin-top: 20px;
}
.navigation {
  font-size: 5px;
  margin-left: 0;
}
div {
  -webkit-column-rule-color: #ff0000; /* Chrome, Safari, Opera */
  -moz-column-rule-color: #ff0000; /* Firefox */
  column-rule-color: #ff0000;
  /*border: 10px solid #a08841;*/
}
p {
  font-size: 15px;
}
/*links*/
a {
  color: purple;
  text-decoration: none;
  font-size: 15px;
  margin-left: 20px;
}
a:hover {
  color: red;
}
a:visited {
  color: green;
}
#copy {
  text-align: right;
}
