body {
  padding: 25px;
}

.jumbotron {
      text-align: center;
      font-size: 50px;
    }

button.click {
  border: 10px solid green;
  background-color: #3498b;
  padding: 15px;
}

h2, h3 {
  margin-left: 50px
}

#main {
  font-size: 20px;
  margin-left: 20px;
  width: 80%;
}
hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px double #666;
  margin: 1em 0;
  padding: 0;
}
/*picture*/
.Sharon {
  margin-right: 100px;
  border-radius: 30px;
}
.click {
  font-size: 25px;
}
/*cat picture*/
.hover_img a { 
  position: absolute;
  width: 450px;
  height: 450px;
}
.hover_img a span { 
  position:absolute; 
  display:none; z-index:99; 
}
.hover_img a:hover span { 
  display:block; 
}
/*links*/
a {
  text-decoration: none;
  font-size: 20px;
}
div.link a:hover {
  color: red;
}
p.links {
  margin-left: 20px;
}

footer {
  margin-left: 20px;
}